/* Write your CSS here */
li {
  list-style-type: none;
}
.para {
  color: #7b8794;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-family: 'Bree Serif';
  margin-bottom: 3px;
  margin-top: 10px;
}
.colored-para {
  color: #2563eb;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  font-family: 'Bree Serif';
  margin-bottom: 3px;
  margin-top: 10px;
}
.hr-line {
  color: #dfe2e5;
}
.colored-hr-line {
  color: #2563eb;
}
.btn {
  border: none;
  background-color: transparent;
}
